.vue-html5-editor {
  > .toolbar {
    > ul {
      padding: 0 5px !important;
      > li {
        padding: 0 !important;
        .icon {
          width: 36px !important;
          vertical-align: initial !important;
        }
      }
    }
    > .dashboard {
      ul.emoticon-list {
        @include no-list-style;
        > li {
          float: left;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}